<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pika.Onlinegrocerystore.dao.ICartDao">


    <resultMap id="cartMap" type="Cart">
        <id property="cartId" column="cart_id"></id>
        <!--  property is attributes in class， column is in database -->
        <result property="userId" column="user_id"></result>
        <result property="sumPrice" column="sum_price"></result>
        <!--<result property="quantity" column="quantity"></result>-->
        <!--<result property="productId" column="product_id"></result>-->
<!--        <result property="productMap" column="product_map"></result>-->
    </resultMap>

    <resultMap id="cartItemMap" type="ItemPair">
        <id property="cartId" column="cart_id"></id>
        <result property="quantity" column="quantity"></result>
        <result property="productId" column="product_id"></result>
        <!--        <result property="productMap" column="product_map"></result>-->
    </resultMap>

    <select id="findAll" resultMap="cartMap">
        select * from cartTable;
    </select>

    <select id="findCartById" resultMap="cartMap">
        select * from cartTable where cart_id=#{cartId};
    </select>

    <select id="findAllCartItems" resultMap="cartItemMap">
        select * from cartItems where cart_id=#{cartId};
    </select>

    <select id="checkItemById" resultMap="cartItemMap">
        select * from cartItems where cart_id=#{cartId} and product_id=#{itemId}
    </select>

    <insert id="saveCart"  parameterType="Cart">
        <selectKey keyProperty="cartId" keyColumn="cart_id" resultType="java.lang.Long" order="AFTER">
            select last_insert_id();
        </selectKey>
            insert into cartTable(cart_id,user_id, sum_price)
            values (#{cartId},#{userId}, #{sumPrice});

    </insert>

    <insert id="addItemPair"  parameterType="ItemPair">
        insert into cartItems(cart_id,product_id, quantity)
        values (#{cartId},#{productId}, #{quantity});
    </insert>

    <delete id="deleteCartById" parameterType="java.lang.Long">
        delete from cartTable where cart_id=#{cartId};
    </delete>

    <update id="addItemById" >
        update cartItems
        set quantity=cartItems.quantity+1
        where cart_id=#{cartId} and product_id=#{itemId};
    </update>

    <update id="deleteItemById" >
        update cartItems
        set quantity=cartItems.quantity-1
        where cart_id=#{cartId} and product_id=#{itemId};
    </update>


    <select id="calculateTotalPrice" resultType="Double">
        select * from cartTable where id= #{name};
    </select>


    <update id="clearCart" parameterType="java.lang.Long">

    </update>

</mapper>