<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pika.dao.IUserDao">

    <resultMap id="orderMap" type="com.pika.domain.Order">
        <id property="orderId" column="order_id"></id>
        <!--  property is attributes in class， column is in database -->
        <result property="customer.id" column="customer_id"></result>
        <result property="sumPrice" column="total_price"></result>
        <result property="createTime" column="creation_date"></result>
        <result property="name" column="receiver_name"></result>
        <result property="state" column="address_state"></result>
        <result property="city" column="address_city"></result>
        <result property="street" column="address_street"></result>
        <result property="zip" column="postcode"></result>
        <result property="ccNumber" column="credit_card_num"></result>
        <result property="ccExpiration" column="expire_date"></result>
        <result property="ccCVV" column="cvv_num"></result>

    </resultMap>

    <select id="findAll" resultMap="orderMap">
        select * from orderTable;
    </select>

    <insert id="createOrder" parameterType="Order">
        <selectKey keyProperty="id" keyColumn="orderId" resultType="java.lang.Long" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into orderTable(customer_id, total_price, creation_date, receiver_name, state, city,
        street, postcode, credit_card_num, expire_date, cvv_num)
        values(#{customer.id}, #{sumPrice}, #{createTime}, #{name}, #{state}, #{city}, #{street},
        #{zip}, #{ccNumber}, #{ccExpiration}, #{ccCVV});
    </insert>

    <update id="updateOrder" parameterType="java.lang.Long">
        update orderTable set customer_id=#{customer.id}, total_price=#{sumPrice}, creation_date=#{createTime},
        receiver_name=#{name}, state=#{state}, city=#{city}, street=#{street}, postcode=#{zip},
        credit_card_num=#{ccNumber}, expire_date=#{ccExpiration}, cvv_num=#{ccCVV} where order_id=#{orderId};
    </update>

    <delete id="deleteOrder" parameterType="java.lang.Long">
        delete from orderTable where order_id=#{orderId};
    </delete>

    <select id="findOrderById" parameterType="java.lang.Long" resultMap="orderMap">
        select * from orderTable where order_id=#{orderId};
    </select>

    <select id="findOrderByDate" parameterType="java.util.Date" resultMap="orderMap">
        select * from orderTable where creation_date=#{createTime};
    </select>

</mapper>