<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pika.dao.IUserDao">

    <resultMap id="customerMap" type="com.pika.domain.Customer">
        <id property="id" column="id"></id>
        <!--  property is attributes in class， column is in database -->
        <result property="username" column="username"></result>
        <result property="password" column="password"></result>
        <result property="email" column="email"></result>
        <result property="role" column="role"></result>
        <result property="birthday" column="birthday"></result>
<!--        <result property="address" column="address"></result>-->
<!--        <result property="postCode" column="postCode"></result>-->
<!--        <result property="creditNum" column="creditNum"></result>-->
        <result property="phoneNum" column="phoneNum"></result>
        <result property="points" column="points"></result>

    </resultMap>

    <select id="findAll" resultMap="Map">
        select * from customerTable;
    </select>

    <insert id="saveCustomer" parameterMap="customerMap">
        <selectKey keyProperty="id" keyColumn="id" resultType="java.lang.Long" order="AFTER">
            select last_insert_id();
        </selectKey>
        insert into CustomerTable(username, password, email, birthday, phoneNum, point)
        values(#{username}, #{password}, #{email}, #{birthday}, #{phoneNum}, #{point});
    </insert>
    
    <update id="updateCustomer" parameterType="java.lang.Long">
        update CustomerTable set username=#{username}, password=#{password}, email=#{email},
        birthday=#{birthday}, phoneNum=#{phoneNum}, point=#{point}) where id=#{id};
    </update>
    
    <delete id="deleteCustomer" parameterType="java.lang.Long">
        delete from CustomerTable where id=#{id};
    </delete>
    
    <select id="findCustomerById" parameterType="java.lang.Long" resultMap="customerMap">
        select * from customerTable where id=#{id};
    </select>

    <select id="findCustomerByName" parameterType="String" resultMap="customerMap">
        select * from customerTable where username like #{username};

    </select>

</mapper>